
button {
  border: 0;
  margin:  50px ;
  padding: 0.5rem 1rem;   
  font-size: 0.85rem;
  font-weight: bold;
  border-radius: 4px;
}

.text1 {
  margin-left: 50px;
  color: blue;
  font-size: 15px ;  
}
